// filter bar
.filter-bar {
  z-index: 1;
  min-height: 40px;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  // position: fixed;
  // width: 60%;
  position: sticky;
  width: 100%;
  top: 70px;
}

.filter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3px;
}

.info-label {
  color: #f5f5f5;
  margin-top: 10px;
  font-size: 1.5rem;
}

.filter-bar input[type=checkbox] {
  height: 30px;
  margin-top: 15px;
  padding: 15px;
  font-size: 20px;
  width: 30px;
}

.filter-bar input:focus {
  outline: none;
}

.btn-filter {
  cursor: pointer;
  background: #3c91f9;
  height: 40px;
  margin-top: 10px;
  padding: 0 15px;
  border: none;
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: color 0.2s ease-in-out;
  span {
    margin-top: 9px;
  }
}

.btn-filter:hover {
  background-color: #00b5ff;
}

.btn-filter:disabled {
  background-color: #557091;
}
// end filter bar

// type toggle
.toggle-bar {
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 125px 125px;
  margin-top: 10px;
  height: 40px;
}

.type label, a{
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  padding: 3px 2px;
}

input[type="radio"]{
  display: none;
}

label.type{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #3c91f9;
  background: #252e42;
  user-select: none;
  color: #ffffff;
  font-size: 20px;
  span {
    opacity: 25%;
    transition: opacity 0.2s ease-in;
  }
  input[type="radio"]:checked + &{
    background-color: #3c91f9;
    span {
      opacity: 100%;
      transition: none;
    }
  }
}

label.type:hover {
  span {
    opacity: 100%;
  }
}
// end type toggle

// language select
.lang-select {
  height: 40px;
  margin-top: 10px;
  width: 200px;
}
// end language select

// titles css
.titles-grid {
  // margin-top: 111px;
  margin-top: 61px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1;
  justify-items: start;
  gap: 1rem;
  padding: 1rem;
}

.title-actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-container {
  position: relative;
  background-color: #4a5369;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  color: #f9f9f9;
}

.title-poster {
  margin: 15px;
}

.title-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  background-color: #a5abbd;
}

.title-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.title-info {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}
// end titles css

// actions bar
.actions-bar {
  width: 75%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #4a5369;
  border-top: #3c91f9 2px solid;
  // border-bottom: #3c91f9 2px solid;
}

.actions-bar a {
  cursor: pointer;
}

.text-action {
  color: #f9f9f9;
  text-decoration: none;
}

.text-action:hover {
  color: #3c91f9;
  transition: color 0.3s ease-in-out;
}

.text-action.is-mobile:hover {
  color: #f9f9f9
}

.neg-rating-btn {
  margin-right: 10px;
}

.neg-rating-btn,
.pos-rating-btn {
  color: #f9f9f9;
  vertical-align: bottom;
  transition: color 0.3s ease-in-out;
}

.neg-rating-btn.is-mobile,
.pos-rating-btn.is-mobile {
  pointer-events: none;
}

.neg-rating-btn:hover, .neg-rating-btn.active {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.neg-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.neg-rating-btn.inactive:hover {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn:hover, .pos-rating-btn.active {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.pos-rating-btn.inactive:hover {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}
// end actions bar

.no-poster {
  max-width: 154px;
  // object-fit: contain;
}

.no-results {
  margin-top: 120px;
  min-height: 245px;
  display: flex;
  justify-content: center;
  span {
    font-size: 60px;
    font-weight: bold;
    color: #f5f5f5;
    opacity: 25%;
  }
}
// end titles css

@media screen and (max-width: 1280px) {
  // .toggle-bar,
  // .new-list-bar,
  // .search-bar {
  //   width: 80%;
  // }

  .titles-grid {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  // .toggle-bar,
  // .new-list-bar,
  // .search-bar {
  //   width: 100%;
  // }

  .titles-grid {
    justify-content: center;
  }

  .no-poster,
  .title-poster {
    margin: 10px;
    img {
      height: 102px;
    }
  }
}

@media screen and (max-width: 640px) {
  .titles-grid {
    justify-content: center;
  }

  .title-container {
    width: 100%;
  }

  .actions-bar {
    width: 100%;
    padding: 5px 0;
    font-size: 2.75vw;
  }

  .pos-rating-btn,
  .neg-rating-btn {
    font-size: 1rem;
    vertical-align: middle;
  }
}
