<div class="filter-bar">
  <form class="filter-form">
    <label class="info-label" for="filter">Content Type:</label>
    <!-- movie/tv toggle -->
    <div class="toggle-bar">
      <input #movie_toggle name="type" type="radio" class="type movie-radio" id="movie" value="movie" (change)="setSearchType(movie_toggle.value)" checked="checked"/>
      <label class="type" for="movie">
        <span>Movie</span>
      </label>
      <input #tv_toggle name="type" type="radio" class="tv-radio" id="tv" value="tv" (change)="setSearchType(tv_toggle.value)"/>
      <label class="type" for="tv">
        <span>TV</span>
      </label>
    </div>
  <!-- end movie/tv toggle -->
    <label class="info-label" for="language">Language:</label>
    <select #lang_select class="lang-select" name="lang" id="langSelect"(change)="setSearchLang(lang_select.value)">
      <option value="en" selected>English</option>
      <option value="de">German</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="jp">Japanese</option>
      <option value="sv">Swedish</option>
    </select>
    <button type="button" class="btn-filter" (click)="filterResults()">
      <span>Filter</span>
    </button>
  </form>
</div>
<div class="titles-grid">
  <!-- titles -->
  @if (searchResults.length === 0) {
    <div class="no-results">
      <span>No Results</span>
    </div>
  }
  @for (result of searchResults; track result.id) {
    <div class="title-actions-container">
      <div class="title-container">
          @if (result.poster_path !== null) {
            <div class="title-poster">
              <img src="{{ poster_url + result.poster_path }}" alt="{{ result.title }} poster">
            </div>
          } @else {
            <div class="no-poster">
              <img src="./assets/images/no_poster.png" alt="No poster available for {{ result.title }}">
            </div>
          }
        <div class="title-details">
          <div class="title-title"><a href="https://themoviedb.org/{{ searchType }}/{{ result.id }}" target="_blank" rel="noopener noreferrer">{{ result.title ? result.title : result.name }}</a></div>
              <div class="title-info">
                <div class="title-release-date">{{ result.release_date | date:"longDate" }}</div>
                <div class="title-runtime">{{ !result.runtime || result.runtime === 0 ? '' : result.runtime + ' minutes' }}</div>
              </div>
              <div class="title-overview">{{ result.overview }}</div>
        </div>
      </div>
      <div class="actions-bar">
        <a class="text-action" data-bs-toggle="modal" data-bs-target="#addTitleModal" (click)="this.titleService.setTitleToAdd(result, searchType)" [class.is-mobile]="isMobile()">Add to List</a>
        <a class="text-action" (click)="setTitleWatched(result, searchType)" [class.is-mobile]="isMobile()">{{ this.getTmdbIdFromUserWatchTitles(result.id)?.watched ? 'Watched' : 'Unwatched' }}</a>
        <div class="rating-btn-container">
          <a (click)="setRating(false, result, searchType)"><span class="material-symbols-outlined neg-rating-btn" [class.active]="this.getTmdbIdFromUserWatchTitles(result.id)?.rating === false" [class.inactive]="this.getTmdbIdFromUserWatchTitles(result.id)?.rating === null" [class.is-mobile]="isMobile()">
            thumb_down
          </span></a>
          <a (click)="setRating(true, result, searchType)"><span class="material-symbols-outlined pos-rating-btn" [class.active]="this.getTmdbIdFromUserWatchTitles(result.id)?.rating === true" [class.inactive]="this.getTmdbIdFromUserWatchTitles(result.id)?.rating === null" [class.is-mobile]="isMobile()">
            thumb_up
          </span></a>
        </div>
        <a class="text-action" data-bs-toggle="modal" data-bs-target="#addWatchDateModal" (click)="this.titleService.setTitleToAdd(result, searchType, result.id)" [class.is-mobile]="isMobile()">Add Watch Date</a>
      </div>
    </div>
  }
  <!-- end titles -->
</div>
