<div class="titles-grid">
  <!-- titles -->
  @for (result of searchResults; track result.id) {
    <div class="title-container">
      <div class="title-poster">
        @if (result.poster_path !== null) {
          <img src="{{ poster_url + result.poster_path }}" alt="{{ result.title }} poster">
        } @else {
          <img src="./assets/images/no_poster.png" alt="No poster available for {{ result.title }}" width="154">
        }
      </div>
      <div class="title-title">{{ result.title }}</div>
      <div class="title-release-date">{{ result.release_date | date:"longDate" }}</div>
      <div class="title-runtime">{{ result.runtime }} minutes</div>
      <div class="title-overview">{{ result.overview }}</div>
      <div class="actions">
        <a data-bs-toggle="modal" data-bs-target="#addTitleModal" (click)="this.titleService.setTitleToAdd(result)">Add to List</a>
        @if (this.getTmdbIdFromUserWatchTitles(result.id) !== undefined) {
          <p>Watched</p>
        }
      </div>
    </div>
  }
  <!-- end titles -->
</div>
