<div class="search-bar">
  <!-- <input type="search" placeholder="Search titles..." #searchDatesInput (keyup.enter)="searchles(searchTitlesInput)"> -->
  <input #dateInput type="date" value="{{ todaysDate }}" max="{{ todaysDate }}">
  <button class="search-date" (click)="searchDate(dateInput)">Search</button>
  <button class="reset-search" (click)="resetSearch(dateInput)" [disabled]="!isSearching">Reset</button>
</div>
<div class="history-grid">
  @if (watchDates.length === 0) {
    <div class="no-results">
      <span>No Results</span>
    </div>
  } @else if (watchDates !== null) {
    <div class="history-container">
      @for (date of watchDates[0] | keyvalue: descOrder; track $index) {
        <div class="date-grid">
          <div class="date-container">
            <div>{{ date.key | date:"longDate" }}</div>
          </div>
        </div>
        <div class="titles-grid">
          @for (title of date.value; track $index) {
            <div class="title-actions-container">
              <div class="title-container">
                <div class="title-poster">
                  @if (title.poster_path !== null) {
                    <img src="{{ poster_url + title.poster_path }}" alt="{{ title.title }} poster">
                  } @else {
                    <img src="./assets/images/no_poster.png" alt="No poster available for {{ title.title }}" width="154">
                  }
                </div>
                <div class="title-details">
                  <div class="title-title">{{ title.title ? title.title : title.original_name }}</div>
                  <div class="title-info">
                    <div class="title-release-date">{{ title.release_date | date:"longDate" }}</div>
                    <div class="title-runtime">{{ !title.runtime || title.runtime === 0 ? 'No runtime available' : title.runtime + ' minutes'  }}</div>
                  </div>
                  <div class="title-overview">{{ title.overview }}</div>
                </div>
              </div>
              <div class="actions-bar">
                <a class="text-action" data-bs-toggle="modal" data-bs-target="#addTitleModal" (click)="this.titleService.setTitleToAdd(title)" [class.is-mobile]="isMobile()">Add to List</a>
                <a class="text-action" (click)="setTitleWatched(title)" [class.is-mobile]="isMobile()">{{ this.getTmdbIdFromUserWatchTitles(title.tmdb_id)?.watched ? 'Watched' : 'Unwatched' }}</a>
                <div class="rating-btn-container">
                  <a (click)="setRating(false, title)"><span class="material-symbols-outlined neg-rating-btn" [class.active]="this.getTmdbIdFromUserWatchTitles(title.tmdb_id)?.rating === false" [class.inactive]="this.getTmdbIdFromUserWatchTitles(title.tmdb_id)?.rating === null" [class.is-mobile]="isMobile()">
                    thumb_down
                  </span></a>
                  <a (click)="setRating(true, title)"><span class="material-symbols-outlined pos-rating-btn" [class.active]="this.getTmdbIdFromUserWatchTitles(title.tmdb_id)?.rating === true" [class.inactive]="this.getTmdbIdFromUserWatchTitles(title.tmdb_id)?.rating === null" [class.is-mobile]="isMobile()">
                    thumb_up
                  </span></a>
                </div>
                <a class="text-action" data-bs-toggle="modal" data-bs-target="#addWatchDateModal" (click)="this.titleService.setTitleToAdd(title, title.tmdb_id)" [class.is-mobile]="isMobile()">Add Watch Date</a>
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
