.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  border-radius: 0px;
  border: none;
}

.modal-body,
.modal-footer {
  background-color: #a5abbd;
}

.modal-body {
  text-align: center;
}

.modal-header {
  background-color: crimson;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.close-delete-list-modal {
  cursor: pointer;
  background: none;
  border: none;
  scale: 110%;
  color: white;
  margin-top: 7px;
  transition: color 0.3s ease-in-out;
}

.close-delete-list-modal:hover {
  color: #3c91f9;
}

.btn-cancel {
  padding: .75rem;
  border: none;
  background-color: #4a5369;
  font-weight: 500;
  color: #f9f9f9;
  transition: background-color 0.3s;
}

.btn-cancel:hover {
  background-color: #557091;
}

.btn-add {
  padding: .75rem;
  border: none;
  background-color: #3c91f9;
  font-weight: 500;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #00b5ff;
}

.btn-add:disabled {
  background-color: #557091;
}

.warning {
  line-height: 1;
  color: crimson;
  text-shadow: #874150 0.5px 0px;
  font-size: 30px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.confirm-btn {
  padding: .75rem;
  margin-bottom: 10px;
  border: none;
  background-color: crimson;
  font-weight: 500;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}
