<div class="modal fade" id="deleteListModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete List</h5>
        <button type="button" class="close-delete-list-modal" data-bs-dismiss="modal" aria-label="Close">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p class="warning">Deleting a list is irreversible!</p>
        <p class="warning">Hold button to confirm.</p>
        <div class="btn-container">
          <button #confirmButton type="button" class="confirm-btn" data-bs-dismiss="modal"
            (mousedown)="onDown(confirmButton)"
            longPress (mouseLongPress)="onHold(confirmButton)"
            (mouseup)="onRelease(confirmButton)"
          >Confirm Delete</button>
          <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
