.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252e42;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 60%;
  top: -56px;
  border-bottom: 2px solid #3c91f9;
  transition: top 0.5s ease;
}

.navbar.active {
  top: 0px;
}

.navbar .branding {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-left: 0.5rem;
}

.burger {
  cursor: pointer;
  background: none;
  border: none;
  // font-size: 1.5rem;
  scale: 150%;
  margin-top: 10px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.burger:hover {
  color: #3c91f9;
}
