<div class="navbar">
  <div class="branding">
    <a routerLink="/" (click)="clearSearch()">WeWatch</a>
  </div>

  @if (isLoggedIn()) {
    <div class="nav-search-bar">
      <input type="search" class="nav-search-input" placeholder="Search for a title..." #searchInput (keyup.enter)="onSearch(searchInput)">
      <!-- <button type="submit" class="nav-search-submit" (click)="onSearch(searchInput)"> -->
      <button type="submit" class="nav-search-submit">
        <span class="material-symbols-outlined search-btn">
          search
        </span>
      </button>
    </div>
  }

  <div class="btn-container">
    @if (isLoggedIn()) {

      @if (router.url === '/') {
        <a class="nav-btn" routerLink="/lists" (click)="clearSearch()">Lists</a>
      } @else {
        <a class="nav-btn" routerLink="/" (click)="clearSearch()">Home</a>
      }
      <a class="nav-btn" (click)="logout()">Logout</a>
    } @else {
      @if (router.url === '/') {
        <a class="nav-btn" routerLink="/lists">Lists</a>
      } @else {
        <a class="nav-btn" routerLink="/">Home</a>
      }
      <a class="nav-btn" routerLink="/welcome">Login/Sign Up</a>
    }
  </div>
</div>
