.navbar {
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #252e42;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 60%;
  border-bottom: 2px solid #3c91f9;
}

.branding {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.branding a {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color: #f9f9f9;
  text-decoration: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.nav-btn {
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.25rem;
  transition: color 0.2s ease-in-out;
}

.nav-btn-calendar {
  margin-top: -1px;
}

.nav-btn-text {
  margin-top: 3px;
}

.nav-btn:not(:last-child) {
  margin-right: 20px;
}

.nav-btn:hover {
  color: #3c91f9;
}

.active,
.active .icon-btn {
  color: #3c91f9;
}

// new search
.nav-search-bar {
  display: flex;
  margin: 0 20px;
  height: 40px;
  width: 40px;
  padding: 3px;
  position: relative;
  transition: width .3s ease-in-out;
  overflow: hidden;
}

.nav-search-input {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0 0.5em;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 37px;
  opacity: 0;
  cursor: pointer;
}

.nav-search-input:focus {
  outline: 0;
}

.icon-btn {
  margin-top: 6px;
  vertical-align: text-bottom;
  color: #f9f9f9;
  scale: 125%;
  transition: color 0.2s ease-in-out;;
}

.icon-btn:hover {
  color: #3c91f9;
}

.nav-search-submit {
  cursor: pointer;
  border: 0;
  background: transparent;
  width: 20px;
  height: 30px;
  margin-left: auto;
}

.nav-search-bar:focus-within {
  width: 70%;

  .nav-search-input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 40px);
  }

  .search-btn {
    color: #3c91f9;
  }

  .search-btn:hover {
    color: #00b5ff;
  }

  .nav-search-submit:focus,
  .nav-search-submit:hover {
    outline: 0;
  }
}

.mobile-navbar {
  display: none;
  z-index: 100;
  position: fixed;
  min-width: 100%;
  bottom: 0;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  background-color: #252e42;
  // padding: 10px 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.mobile-home,
.mobile-lists,
.mobile-search,
.mobile-history {
  display: none;
  width: 100%;
  border-top: 3px solid #4a5369;
  padding: 5px 0;
  text-align: center;
}

.mobile-home.active,
.mobile-lists.active,
.mobile-search.active,
.mobile-history.active {
  border-top: 3px solid #3c91f9;
}

.mobile-nav-btn {
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
  span {
    font-size: 2.5rem;
  }
}

.mobile-active {
  color: #3c91f9;
}

.mobile-search-bar {
  display: none;
  z-index: 50;
  min-height: 40px;
  padding: 0px 10px;
  width: 100%;
  position: fixed;
  bottom: 10px;
  transition: bottom 0.5s ease;
}

.mobile-search-bar input {
  height: 10px;
  padding: 0 0.5em;
  font-size: 1.2rem;
  width: 100%;
  transition: height 0.4s ease;
}

.mobile-search-bar.active {
  bottom: 70px;
  input {
    height: 40px;
  }
}

// toggle mobile
.nav-search-bar.is-mobile,
.hover-btn.is-mobile {
  display: none;
}

.mobile-navbar.is-mobile {
  display: grid;
}

.mobile-home.is-mobile,
.mobile-lists.is-mobile,
.mobile-search.is-mobile,
.mobile-history.is-mobile,
.mobile-search-bar.is-mobile {
  display: block;
}
// end toggle mobile

@media screen and (max-width: 1280px) {
  .navbar {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
}
