.navbar {
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #252e42;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 60%;
  border-bottom: 2px solid #3c91f9;
}

.branding {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.branding a {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  color: #f9f9f9;
  text-decoration: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.nav-btn {
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.25rem;
  transition: color 0.2s ease-in-out;
}

.nav-btn:not(:last-child) {
  margin-right: 20px;
}

.nav-btn:hover {
  color: #3c91f9;
}

:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

// new search
.nav-search-bar {
  display: flex;
  margin: 0 20px;
  height: 40px;
  width: 40px;
  padding: 3px;
  position: relative;
  transition: width .3s ease-in-out;
  overflow: hidden;
}

.nav-search-input {
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0 0.5em;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 37px;
  opacity: 0;
  cursor: pointer;
}

.nav-search-input:focus {
  outline: 0;
}

.search-btn {
  margin-top: 6px;
  vertical-align: text-bottom;
  color: #f9f9f9;
  scale: 125%;
  transition: color 0.2s ease-in-out;;
}

.search-btn:hover {
  color: #3c91f9;
}

.nav-search-submit {
  cursor: pointer;
  border: 0;
  background: transparent;
  width: 20px;
  height: 30px;
  margin-left: auto;
}

.nav-search-bar:focus-within {
  width: 70%;

  .nav-search-input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 40px);
  }

  .search-btn {
    color: #3c91f9;
  }

  .search-btn:hover {
    color: #00b5ff;
  }

  .nav-search-submit:focus,
  .nav-search-submit:hover {
    outline: 0;
  }
}
