<div class="navbar">
  <div class="branding">
    <a routerLink="/">WeWatch</a>
  </div>

  <div class="btn-container">
    @if (isLoggedIn()) {
      <div class="search-container" [class.active]="isSearching">
        <form>
          <input type="text" placeholder="Search for a title...">

          <a class="nav-btn" (click)="toggleSearching()">
            <div class="srch_btn" [class.hide]="isSearching">
              <span class="material-symbols-outlined search-btn">
                search
              </span>
            </div>
            <div class="cls_btn" [class.hide]="!isSearching">
              <span class="material-symbols-outlined close-btn">
                close
              </span>
            </div>
          </a>
        </form>
      </div>
      @if (router.url === '/') {
        <a class="nav-btn" routerLink="/lists">Lists</a>
      } @else {
        <a class="nav-btn" routerLink="/">Home</a>
      }
      <a class="nav-btn" (click)="logout()">Logout</a>
    } @else {
      @if (router.url === '/') {
        <a class="nav-btn" routerLink="/lists">Lists</a>
      } @else {
        <a class="nav-btn" routerLink="/">Home</a>
      }
      <a class="nav-btn" routerLink="/welcome">Login/Sign Up</a>
    }
  </div>
</div>
