.home-container {
  margin-top: 56px;
  color: #f9f9f9;
  margin-bottom: 50px;
}

// quote
.quote-container {
  margin-top: 86px;
  height: 100%;
  position: relative;
}

.quote {
  cursor: pointer;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252e42;
  transition: background-color 0.3s ease-in-out;
  span {
    text-align: center;
    font-size: 40px;
  }
}

.quote.active {
  background-color: #4a5369;
}

.quote.quote.is-mobile.active {
  background-color: #4a5369;
}

.quote.is-mobile:hover {
  background-color: #252e42;
}

.quote:hover {
  background-color: #4a5369;
  transition: background-color 0.3s ease-in-out;
}

.quote-movie {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.quote-movie.active {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}
// end quote

// movies
.movies-container {
  // margin-top: 86px;
  margin-top: 20px;
}

.tv-container {
  margin-top: 20px;
}

.now-playing-movies,
.popular-movies,
.popular-tv,
.top-rated-tv,
.recommendations {
  background-color: #4a5369;
  margin-bottom: 20px;
}

.box-header {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 3px solid #3c91f9;
}

// shelf
.shelf {
  max-height: 443px;
  display: flex;
  flex-direction: row;
}

.shelf img {
  max-height: 443px;
  object-fit: cover;
}

.shelf-details-container,
.quote-movie {
  background-color: #a5abbd;
  color: black;
  width: 100%;
}

.shelf-details {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shelf-details div:last-of-type {
  margin-top: auto;
}

.details-header {
  display: grid;
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.70);
  }
  .year {
    font-size: 3rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.70);
  }
}

.details-overview {
  margin-top: 10px;
  font-size: 1.25rem;
  .overview-header {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    margin-top: 5px;
  }
}

.details-actions {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.details-actions a {
  cursor: pointer;
}

.pos-rating-btn,
.neg-rating-btn {
  color: #4a5369;
  transition: color 0.3s ease-in-out;
}

.pos-rating-btn:hover, .pos-rating-btn.active {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.neg-rating-btn:hover, .neg-rating-btn.active {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}
// end shelf

// drawer
.drawer-container {
  max-height: 227px;
}

.drawer {
  // overflow: auto;
  // overflow-x: hidden;
  overflow: scroll;
  white-space: nowrap;
}

.drawer a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

// chrome scrollbar
.drawer::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.drawer a img {
  max-height: 227px;
  object-fit: cover;
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.drawer a img:hover {
  opacity: 100%;
}

.drawer a img.active {
  opacity: 100%;
  z-index: 5;
}
// end drawer

.recs-empty {
  margin-bottom: 20px;
  text-align: center;
  span {
    font-size: 40px;
    font-weight: bold;
    color: #f5f5f5;
    opacity: 25%;
  }
}

@media screen and (max-width: 1280px) {
  .quote {
    span {
      font-size: 30px;
    }
  }

  .box-header {
    font-size: 35px;
  }

  .shelf {
    height: 354px;
  }

  .details-header {
    .title {
      font-size: 2.5rem;
    }
  }

  .drawer a img {
    height: 182px;
  }
}

@media screen and (max-width: 1024px) {
  .quote {
    padding: 10px;
    span {
      font-size: 25px;
    }
  }

  .box-header {
    font-size: 30px;
  }

  .shelf {
    // height: 266px;
    // height: 333px;
  }

  .details-header {
    .title {
      font-size: 2rem;
    }
  }

  .drawer a img {
    // height: 136px;
  }
}

@media screen and (max-width: 640px) {
  .quote {
    span {
      font-size: 5vw;
    }
  }

  .box-header {
    font-size: 24px;
  }

  .shelf {
    height: 200px;
  }

  .shelf-details {
    margin: 0px 10px;
  }

  .details-header {
    margin-top: 5px;
    .title {
      // font-size: 1.25rem;
      font-size: 5vw;
      line-height: 1;
    }
    .year {
      font-size: 5vw;
      line-height: 1;
    }
  }

  .runtime {
    // font-size: 0.75rem;
    font-size: 3vw;
    // text-align: center;
  }

  .details-overview {
    margin-top: 0px;
    // font-size: 0.625rem;
    font-size: 2.75vw;
    .overview-header {
      // font-size: 0.75rem;
      font-size: 3vw;
    }
  }

  .details-actions {
    // font-size: 0.625rem;
    font-size: 2.5vw;
    margin-bottom: 10px;
  }

  .pos-rating-btn,
  .neg-rating-btn {
    font-size: 0.75rem;
  }

  .drawer a img {
    height: 102px;
  }
}
