<div class="home-container">
  <div class="movies-container">
    <div class="now-playing-movies">
      <div class="box-header">Now Playing</div>
      <!-- carousel -->
      <div id="nPMovieCarousel" class="carousel slide">
        <div class="carousel-inner">
          @for (nPMovie of nowPlayingMovies; track $index) {
          <div class="carousel-item" [ngClass]="$index === 0 ? 'active' : ''">
            <div class="shelf">
              <img src="{{ med_poster_url + nPMovie.poster_path }}" alt="{{ nPMovie.title + ' poster'}}">
              <div class="shelf-details-container">
                <div class="shelf-details">
                  <div class="details-header">
                    <span><span class="title">{{ nPMovie.title ? nPMovie.title : nPMovie.original_name }}</span><span class="year"> ({{ nPMovie.release_date | date:'yyyy' }})</span></span>
                    <span><span class="sub-title">Starring: So-and-so</span><span>{{ !nPMovie.runtime || nPMovie.runtime === 0 ? 'No runtime available' : nPMovie.runtime + ' minutes'  }}</span></span>
                  </div>
                  <div class="details-overview">
                    <span class="overview-header">Overview</span>
                    <p>{{ nPMovie.overview }}</p>
                  </div>
                  <div class="details-actions">
                    <a data-bs-toggle="modal" data-bs-target="#addTitleModal" (click)="this.titleService.setTitleToAdd(nPMovie)">Add to List</a>
                    <a>{{ this.getTmdbIdFromUserWatchTitles(nPMovie.id)?.watched === true ? 'Watched' : 'Unwatched' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        </div>
        <div class="drawer-container">
          <div #nPMovieDrawer class="drawer" (wheel)="onWheel($event, nPMovieDrawer)">
            @for (nowPlayingMovie of nowPlayingMovies; track $index) {
              <a type="button" data-bs-target="#nPMovieCarousel" [attr.data-bs-slide-to]="$index" [ngClass]="$index === 0 ? 'active' : ''" (click)="changeIndex('nPMovie', $index)">
                <img src="{{ small_poster_url + nowPlayingMovie.poster_path }}" alt="{{ nowPlayingMovie.title + ' poster'}}" [class.active]="nowPlayingMovieIndex == $index" draggable="false">
              </a>
            }
          </div>
        </div>
      </div>
      <!-- end carousel -->
    </div>
    <div class="popular-movies">
      <div class="box-header">Popular Movies</div>
      <!-- carousel -->
      <div id="popMovieCarousel" class="carousel slide">
        <div class="carousel-inner">
          @for (popMovie of popularMovies; track $index) {
          <div class="carousel-item" [ngClass]="$index === 0 ? 'active' : ''">
            <div class="shelf">
              <img src="{{ med_poster_url + popMovie.poster_path }}" alt="{{ popMovie.title + ' poster'}}">
              <div class="shelf-details-container">
                <div class="shelf-details">
                  <div class="details-title">
                    {{ popMovie.title }}
                  </div>
                  <div class="details-overview">
                    {{ popMovie.overview }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        </div>
        <div class="drawer-container">
          <div #popMovieDrawer class="drawer" (wheel)="onWheel($event, popMovieDrawer)">
            @for (popMovie of popularMovies; track $index) {
              <a type="button" data-bs-target="#popMovieCarousel" [attr.data-bs-slide-to]="$index" [ngClass]="$index === 0 ? 'active' : ''" (click)="changeIndex('popMovie', $index)">
                <img src="{{ small_poster_url + popMovie.poster_path }}" alt="{{ popMovie.title + ' poster'}}" [class.active]="popularMovieIndex == $index" draggable="false">
              </a>
            }
          </div>
        </div>
      </div>
      <!-- end carousel -->
    </div>
  </div>
  <div class="tv-container">
    <div class="popular-tv">
      <div class="box-header">Popular TV</div>
      <!-- carousel -->
      <div id="popTVCarousel" class="carousel slide">
        <div class="carousel-inner">
          @for (popTV of popularTV; track $index) {
          <div class="carousel-item" [ngClass]="$index === 0 ? 'active' : ''">
            <div class="shelf">
              <img src="{{ med_poster_url + popTV.poster_path }}" alt="{{ popTV.title + ' poster'}}">
              <div class="shelf-details-container">
                <div class="shelf-details">
                  <div class="details-title">
                    {{ popTV.title }}
                  </div>
                  <div class="details-overview">
                    {{ popTV.overview }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        </div>
        <div class="drawer-container">
          <div #popTVDrawer class="drawer" (wheel)="onWheel($event, popTVDrawer)">
            @for (popTV of popularTV; track $index) {
              <a type="button" data-bs-target="#popTVCarousel" [attr.data-bs-slide-to]="$index" [ngClass]="$index === 0 ? 'active' : ''" (click)="changeIndex('popTV', $index)">
                <img src="{{ small_poster_url + popTV.poster_path }}" alt="{{ popTV.title + ' poster'}}" [class.active]="popularTVIndex == $index" draggable="false">
              </a>
            }
          </div>
        </div>
      </div>
      <!-- end carousel -->
    </div>
    <div class="top-rated-tv">
      <div class="box-header">Top Rated TV</div>
      <!-- carousel -->
      <div id="topTVCarousel" class="carousel slide">
        <div class="carousel-inner">
          @for (topTV of topRatedTV; track $index) {
          <div class="carousel-item" [ngClass]="$index === 0 ? 'active' : ''">
            <div class="shelf">
              <img src="{{ med_poster_url + topTV.poster_path }}" alt="{{ topTV.title + ' poster'}}">
              <div class="shelf-details-container">
                <div class="shelf-details">
                  <div class="details-title">
                    {{ topTV.title }}
                  </div>
                  <div class="details-overview">
                    {{ topTV.overview }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        </div>
        <div class="drawer-container">
          <div #topTVDrawer class="drawer" (wheel)="onWheel($event, topTVDrawer)">
            @for (topTV of topRatedTV; track $index) {
              <a type="button" data-bs-target="#topTVCarousel" [attr.data-bs-slide-to]="$index" [ngClass]="$index === 0 ? 'active' : ''" (click)="changeIndex('topTV', $index)">
                <img src="{{ small_poster_url + topTV.poster_path }}" alt="{{ topTV.title + ' poster'}}" [class.active]="topRatedTVIndex == $index" draggable="false">
              </a>
            }
          </div>
        </div>
      </div>
      <!-- end carousel -->
    </div>
  </div>
</div>
