.home-container {
  position: relative;
  margin-top: 56px;
  color: #f9f9f9;
  margin-bottom: 80px;
}

.about-icon {
  z-index: 2;
  position: absolute;
  right: 0;
  margin-top: -15px;
  // margin-right: 15px;
}

.about-icon a {
  cursor: pointer;
  color: #f9f9f9;
  transition: color 0.2s ease-in-out;
}

.about-icon a:hover {
  color: #3c91f9;
}

// quote
.quote-container {
  margin-top: 86px;
  height: 100%;
  position: relative;
}

.quote {
  cursor: pointer;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252e42;
  transition: background-color 0.3s ease-in-out;
  span {
    text-align: center;
    font-size: 40px;
  }
}

.quote.active {
  background-color: #4a5369;
}

.quote.quote.is-mobile.active {
  background-color: #4a5369;
}

.quote.is-mobile:hover {
  background-color: #252e42;
}

.quote:hover {
  background-color: #4a5369;
  transition: background-color 0.3s ease-in-out;
}

.quote-movie {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.quote-movie.active {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}
// end quote

// movies
.movies-container {
  // margin-top: 86px;
  margin-top: 20px;
}

.tv-container {
  margin-top: 20px;
}

.now-playing-movies,
.popular-movies,
.trending-tv,
.this-week-tv,
.recommendations {
  background-color: #4a5369;
  margin-bottom: 20px;
}

.box-header {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 3px solid #3c91f9;
}

// shelf
.shelf {
  max-height: 443px;
  display: flex;
  flex-direction: row;
}

.shelf img {
  max-height: 443px;
  object-fit: cover;
}

.shelf-details-container,
.quote-movie {
  background-color: #a5abbd;
  color: black;
  width: 100%;
}

.shelf-details {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details-header {
  display: grid;
  .title {
    font-size: 3rem;
    font-weight: bold;
  }
  .year {
    font-size: 3rem;
    font-weight: 500;
  }
  span {
    color: rgba(0, 0, 0, 0.70);
    transition: color 0.2s ease-in-out;
  }
}

.details-header a {
  text-decoration: none;
}

.details-header:hover {
  .title,
  .year {
    color: rgba(60, 145, 249, 1);
    transition: color 0.2s ease-in-out;
  }
}

.details-overview {
  overflow-y: scroll;
  margin-top: 10px;
  font-size: 1.25rem;
  .overview-header {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    margin-top: 5px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  height: 50%;
  align-self: center;
}
// end shelf

// actions bar
.actions-bar {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #4a5369;
  border-top: #3c91f9 2px solid;
  // border-bottom: #3c91f9 2px solid;
}

.actions-bar a {
  cursor: pointer;
}

.text-action {
  color: #f9f9f9;
  text-decoration: none;
}

.text-action:hover {
  color: #3c91f9;
  transition: color 0.3s ease-in-out;
}

.text-action.is-mobile:hover {
  color: #f9f9f9
}

.neg-rating-btn {
  margin-right: 10px;
}

.neg-rating-btn,
.pos-rating-btn {
  color: #f9f9f9;
  vertical-align: bottom;
  transition: color 0.3s ease-in-out;
}

.neg-rating-btn.is-mobile,
.pos-rating-btn.is-mobile {
  pointer-events: none;
}

.neg-rating-btn:hover, .neg-rating-btn.active {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.neg-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.neg-rating-btn.inactive:hover {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn:hover, .pos-rating-btn.active {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.pos-rating-btn.inactive:hover {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}
// end actions bar

// drawer
.drawer-container {
  max-height: 227px;
}

.drawer {
  overflow: scroll;
  white-space: nowrap;
}

.drawer a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

// chrome scrollbar
.drawer::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.drawer a img {
  max-height: 227px;
  object-fit: cover;
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.drawer a img:hover {
  opacity: 100%;
}

.drawer a img.active {
  opacity: 100%;
  z-index: 5;
}
// end drawer

.recs-empty {
  margin-bottom: 20px;
  text-align: center;
  span {
    font-size: 40px;
    font-weight: bold;
    color: #f5f5f5;
    opacity: 25%;
  }
}

@media screen and (max-width: 1280px) {
  .quote {
    span {
      font-size: 30px;
    }
  }

  .box-header {
    font-size: 35px;
  }

  .shelf {
    height: 354px;
  }

  .details-header {
    .title {
      font-size: 2.5rem;
    }
  }

  .drawer a img {
    height: 182px;
  }
}

@media screen and (max-width: 1024px) {
  .quote {
    padding: 10px;
    span {
      font-size: 25px;
    }
  }

  .box-header {
    font-size: 30px;
  }

  .details-header {
    .title {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .quote {
    span {
      font-size: 5vw;
    }
  }

  .box-header {
    font-size: 24px;
  }

  .shelf {
    height: 200px;
  }

  .shelf-details {
    margin: 0px 10px;
  }

  .details-header {
    margin-top: 5px;
    .title {
      // font-size: 1.25rem;
      font-size: 5vw;
      line-height: 1;
    }
    .year {
      font-size: 5vw;
      line-height: 1;
    }
  }

  .runtime {
    font-size: 3vw;
  }

  .details-overview {
    margin-top: 0px;
    font-size: 2.75vw;
    .overview-header {
      font-size: 3vw;
    }
  }

  .actions-bar {
    padding: 5px 0;
    font-size: 2.75vw;
  }

  .pos-rating-btn,
  .neg-rating-btn {
    font-size: 1rem;
    vertical-align: middle;
  }

  .drawer a img {
    height: 102px;
  }
}
