.home-container {
  margin-top: 56px;
  color: #f9f9f9;
}

.movies-container {
  margin-top: 86px;
}

.tv-container {
  margin-top: 20px;
}

.now-playing-movies,
.popular-movies,
.popular-tv,
.top-rated-tv {
  background-color: #4a5369;
  margin-bottom: 20px;
}

.box-header {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 3px solid #3c91f9;
}

// shelf
.shelf {
  max-height: 443px;
  display: flex;
  flex-direction: row;
}

.shelf img {
  max-height: 443px;
  object-fit: cover;
}

.shelf-details-container {
  background-color: #a5abbd;
  color: black;
  width: 100%;
}

.shelf-details {
  margin: 0px 20px;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

.details-header {
  display: grid;
  grid-template-rows: 64px 16px;
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.70);
  }
  .year {
    font-size: 3rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.70);
  }
  .sub-title {
    margin-left: 10px;
  }
}

.details-overview {
  margin-top: 10px;
  font-size: 1.25rem;
  .overview-header {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    margin-top: 5px;
  }
}

.details-actions {
  display: flex;
  flex-direction: row;
}

.details-actions a {
  cursor: pointer;
}

.pos-rating-btn,
.neg-rating-btn {
  color: #4a5369;
  transition: color 0.3s ease-in-out;
}

.pos-rating-btn:hover, .pos-rating-btn.active {
  color: green;
  font-variation-settings: 'FILL' 1;
}

.neg-rating-btn:hover, .neg-rating-btn.active {
  color: crimson;
  font-variation-settings: 'FILL' 1;
}
// end shelf

// drawer
.drawer-container {
  max-height: 227px;
}

.drawer {
  // overflow: auto;
  // overflow-x: hidden;
  overflow: scroll;
  white-space: nowrap;
}

.drawer a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

// chrome scrollbar
.drawer::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.drawer a img {
  max-height: 227px;
  object-fit: cover;
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.drawer a img:hover {
  opacity: 100%;
}

.drawer a img.active {
  opacity: 100%;
  z-index: 5;
}
// end drawer
