// toggle bar
.toggle-bar {
  z-index: 2;
  //background-color: green; // green for testing
  min-height: 40px;
  display: grid;
  width: 60%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: -66px;
  transition: top 0.5s ease;
}

.toggle-bar.active {
  top: 66px;
}

.nav label, a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  padding: 3px 2px;
}

input[type="radio"]{
  display: none;
}

label.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #4a5369;
  background: #252e42;
  user-select: none;
  padding-left: 0;
  color: #ffffff;
  font-size: 20px;
  transition: border-bottom-color 0.2s ease-in;
  span {
    opacity: 25%;
    transform: scale(100%);
    transition: transform 0.3s ease-in-out;
  }
  input[type="radio"]:checked + &{
    border-bottom-color: #3c91f9;
    transition: border-bottom-color none;
    span {
      opacity: 100%;
      transition: opacity none;
      transform: scale(115%);
      transition: transform 0.3s ease-in-out;
    }
  }
}

label.nav:hover {
  border-bottom-color: #3c91f9;
  span {
    opacity: 100%;
    transition: opacity 0.2s ease-in;
  }
}
// end toggle bar

// search bar
.search-bar {
  z-index: 5;
  min-height: 40px;
  padding: 0px 10px;
  display: grid;
  width: 60%;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr 90px 50px;
  gap: 10px;
  align-items: center;
  position: fixed;
  top: -65px;
  transition: top 0.5s ease;
}

.input-btn {
  display: flex;
  flex-direction: row;
}

.search-bar.active {
  top: 65px;
}

.search-bar input {
  height: 40px;
  padding: 0 0.5em;
  font-size: 1.2rem;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.close-titles {
  cursor: pointer;
  background: none;
  border: none;
  color: #f9f9f9;
  transition: color 0.3s ease-in-out;

  span {
    font-size: 2.65rem;
    margin-top: 5px;
  }
}

.close-titles:hover, .random-title:hover {
  color: #3c91f9;
}

.random-title {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3rem;
  color: #f9f9f9;
  transition: color 0.3s ease-in-out;
}

.submit-search {
  cursor: pointer;
  background-color: #3c91f9;
  height: 40px;
  width: 100px;
  border: none;
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.reset-search {
  cursor: pointer;
  background-color: #3c91f9;
  height: 40px;
  border: none;
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.submit-search:hover,
.reset-search:hover {
  background-color: #00b5ff;
}

.submit-search:disabled,
.reset-search:disabled {
  background-color: #557091;
  color: #4a5369;
}
// end search bar

// new list bar
.new-list-form {
  display: flex;
  margin-bottom: 3px;
}

.new-list-bar {
  z-index: 1;
  min-height: 40px;
  padding: 0px 10px;
  display: grid;
  width: 60%;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  position: fixed;
  top: -120px;
  transition: top 0.5s ease;
}

.new-list-bar.active {
  // position: sticky;
  // width: 100%;
  top: 120px;
}

.new-list-bar input[type=text] {
  height: 40px;
  margin-top: 10px;
  padding: 15px;
  font-size: 20px;
  width: 100%;
}

.new-list-bar label {
  color: #f5f5f5;
  margin-top: 12px;
  font-size: 1.5rem;
  margin-left: 10px;
}

.new-list-bar input[type=checkbox] {
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 15px;
  font-size: 20px;
  width: 30px;
}

.new-list-bar input:focus {
  outline: none;
}

.btn-new-list {
  cursor: pointer;
  background: #3c91f9;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  min-width: 50px;
  border: none;
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: color 0.2s ease-in-out;
  span {
    margin-top: 9px;
  }
}

.btn-new-list:hover {
  background-color: #00b5ff;
}

.btn-new-list:disabled {
  background-color: #557091;
  color: #4a5369;
}

.list-error {
  border-color: rgb(241, 174, 181);
  background-color: rgb(248, 215, 218);
}

.list-error::placeholder {
  color: red;
}
// end new list bar

// lists css
.list-grid {
  margin-top: 166px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  // TODO move justify center to media query
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

.list-grid.no-user {
  margin-top: 61px;
}

.list-container {
  cursor: pointer;
  background-color: #4a5369;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  // max-width: 550px;
  transform: scale(100%);
  transition: transform 0.3s ease-in-out;
}

.list-container:hover {
  transform: scale(102%);
  transition: transform 0.3s ease-in-out;
}

.list-header {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #3c91f9;
}

.list-title {
  font-size: 25px;
  font-weight: bold;
  color: #f5f5f5;
}

.created-by {
  color: #f5f5f5;
}

.list-username {
  font-size: 15px;
  font-weight: bold;
  color: #f5f5f5;
}

.list-posters {
  position: relative;
  margin: 10px;
}

.list-posters img {
  width: 150px;
  object-fit: cover;
}

.list-posters img:not(:first-child) {
  margin-left: -100px;
  box-shadow: -15px 0px 17px -7px #4a5369;
}

.list-title-count {
  position: absolute;
  top: 0;
  right: 20px;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
  text-shadow: black 2px 1px;
}

.list-empty {
  min-height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 60px;
    font-weight: bold;
    color: #f5f5f5;
    opacity: 25%;
  }
}

.list-private-btn {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  right: 50px;
  scale: 115%;
  color: #252e42;
  transition: color 0.2s ease-in-out;
}

.list-private-btn:hover {
  color: #3c91f9;
}

.list-delete-btn,
.list-follow-btn {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  right: 20px;
  scale: 115%;
  color: #252e42;
  transition: color 0.2s ease-in-out;
}

.title-delete-btn {
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  scale: 115%;
  color: #252e42;
  transition: color 0.2s ease-in-out;
}

.list-delete-btn:hover,
.title-delete-btn:hover {
  color: crimson;
}

.list-follow-btn:hover {
  color: gold;
  font-variation-settings: 'FILL' 1;
}

.icon-filled {
  color: gold;
  font-variation-settings: 'FILL' 1;
}

.icon-filled:hover {
  color: #252e42;
  font-variation-settings: 'FILL' 0;
}
// end lists css

// titles css
.titles-grid {
  margin-top: 130px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1;
  justify-items: start;
  gap: 1rem;
}

.title-actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-container {
  position: relative;
  background-color: #4a5369;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  color: #f9f9f9;
}

.title-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 231px;
  color: black;
  background-color: #a5abbd;
}

.title-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.title-info {
  display: flex;
  flex-direction: row;
  margin: 5px 20px;
  justify-content: space-between;
}

.title-overview {
  overflow-y: scroll;
}

// actions bar
.actions-bar {
  width: 75%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #4a5369;
  border-top: #3c91f9 2px solid;
}

.actions-bar a {
  cursor: pointer;
}

.text-action {
  color: #f9f9f9;
  text-decoration: none;
}

.text-action:hover {
  color: #3c91f9;
  transition: color 0.3s ease-in-out;
}

.text-action.is-mobile:hover {
  color: #f9f9f9
}

.neg-rating-btn {
  margin-right: 10px;
}

.neg-rating-btn,
.pos-rating-btn {
  color: #f9f9f9;
  vertical-align: bottom;
  transition: color 0.3s ease-in-out;
}

.neg-rating-btn.is-mobile,
.pos-rating-btn.is-mobile {
  pointer-events: none;
}

.neg-rating-btn:hover, .neg-rating-btn.active {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.neg-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.neg-rating-btn.inactive:hover {
  color: crimson;
  text-shadow: #874150 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn:hover, .pos-rating-btn.active {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}

.pos-rating-btn.inactive {
  color: #f9f9f9;
  font-variation-settings: 'FILL' 0;
}

.pos-rating-btn.inactive:hover {
  color: limegreen;
  text-shadow: #1d811d 1px 1px;
  font-variation-settings: 'FILL' 1;
}
// end actions bar

.no-poster {
  max-width: 154px;
}

.no-results {
  min-height: 245px;
  display: flex;
  justify-self: center;
  align-items: center;
  span {
    font-size: 60px;
    font-weight: bold;
    color: #f5f5f5;
    opacity: 25%;
  }
}
// end titles css

@media screen and (max-width: 1280px) {
  .toggle-bar,
  .new-list-bar,
  .search-bar {
    width: 80%;
  }

  label.nav {
    font-size: 18px;
  }

  .new-list-bar input[type=text] {
    font-size: 18px;
  }

  .new-list-bar label {
    margin-top: 15px;
    font-size: 1.2rem;
  }

  .list-grid {
    justify-content: center;
  }

  .titles-grid {
    // grid-template-columns: 440px;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .toggle-bar,
  .new-list-bar,
  .search-bar {
    width: 100%;
  }

  label.nav {
    font-size: 16px;
  }

  .new-list-bar input[type=text] {
    font-size: 16px;
  }

  .list-grid {
    justify-content: center;
  }

  .titles-grid {
    justify-content: center;
  }

  .title-poster {
    img {
      height: 200px;
    }
  }

  .title-details {
    max-height: 200px;
  }

}

@media screen and (max-width: 640px) {
  .search-bar {
    width: 100%;
    grid-template-columns: 40px 1fr 50px 40px;
  }

  .search-bar input {
    font-size: 4vw;
  }

  .submit-search {
    font-size: 4.5vw;
  }

  .reset-search {
    font-size: 4.5vw;
    width: 50px;
  }

  .list-grid {
    grid-template-columns: 330px;
    justify-content: center;
  }

  .list-container {
    width: 330px;
  }

  .titles-grid {
    justify-content: center;
  }

  .title-container {
    width: 100%;
  }

  .title-details {
    max-height: 200px;

    .title-title {
      font-size: 5vw;
      line-height: 1;
    }

    .title-info {
      font-size: 3vw;
    }

    .title-overview {
      font-size: 3vw;
    }
  }

  .actions-bar {
    width: 100%;
    padding: 5px 0;
    font-size: 2.75vw;
  }

  .pos-rating-btn,
  .neg-rating-btn {
    font-size: 1rem;
    vertical-align: middle;
  }
}
