<!-- list toggle bar -->
<div class="toggle-bar" [class.active]="!isViewingTitles && currentUser !== null">
  <input #user_toggle name="nav" type="radio" class="nav user-lists-radio" id="user-lists" value="user" (change)="onToggle(user_toggle.value)" checked="checked" />
  <label class="nav" for="user-lists">
    <span>User Lists</span>
  </label>
  <input #follow_toggle name="nav" type="radio" class="follow-lists-radio" id="follow-lists" value="follow" (change)="onToggle(follow_toggle.value)"/>
  <label class="nav" for="follow-lists">
    <span>Followed Lists</span>
  </label>
  <input #all_toggle name="nav" type="radio" class="all-lists-radio" id="all-lists" value="all" (change)="onToggle(all_toggle.value)"/>
  <label class="nav" for="all-lists">
    <span>All Lists</span>
  </label>
</div>
<div class="search-bar" [class.active]="isViewingTitles">
  <input type="text" placeholder="Filter titles..." (input)="onFilterInput($event)">
  <button class="random-title" (click)="randomTitle()">⚄</button>
  <button class="close-titles" (click)="closeTitles()">
    <span class="material-symbols-outlined">
      close
    </span>
  </button>
</div>
<!-- end list toggle bar -->
@if (!isViewingTitles) {
  <div class="new-list-bar" [class.active]="isUserLists && currentUser !== null">
    <form class="new-list-form" [formGroup]="newListForm" (ngSubmit)="createNewList(); user_toggle.checked = true;">
        <input type="text" formControlName="title" placeholder="Create a new list...">
        <label for="private">Private?</label>
        <input type="checkbox" formControlName="private">
        <button type="submit" class="btn-new-list">
          <span class="material-symbols-outlined">
            add
          </span>
        </button>
    </form>
  </div>
  <div class="list-grid" [class.no-user]="currentUser === null">
    <!-- list -->
    @for (list of displayLists; track $index) {
      <div class="list-container" (click)="showTitles(list.id, list.user.username)">
        <div class="list-header">
          <span class="list-title">{{ list.title }}</span>
          <span><span class="created-by">created by:</span><span class="list-username">&nbsp;{{ list.user.username }}</span></span>
        </div>
        @if (list.watch_titles_count !== 0) {
          <div class="list-posters">
            @if (list.poster_imgs !== []) {
              @for (poster_img of list.poster_imgs; track $index) {
                <img src="{{ poster_url + poster_img }}" alt="{{ list.title }} poster">
              }
            }
            <div class="list-title-count">{{ list.watch_titles_count }} {{ list.watch_titles_count === 1 ? 'Title' : 'Titles'}}</div>
          </div>
        } @else {
          <div class="list-empty">
            <span>No Titles</span>
          </div>
        }
        @if (list.user_id === currentUser?.id) {
          <a class="list-delete-btn" data-bs-toggle="modal" data-bs-target="#deleteListModal" (click)="deleteList(list.id, $index, currentUser!.username); $event.stopPropagation();">
            <span class="material-symbols-outlined icon-btn">
              delete
            </span>
          </a>
        }
      </div>
    }
  </div>
  <!-- end list -->
} @else {
  <div class="titles-grid">
    <!-- titles -->
    @for (title of titles; track title.id) {
      <div class="title-container">
        <div class="title-poster">
          <img src="{{ poster_url + title.poster_path }}" alt="">
        </div>
        <div class="title-title">{{ title.title }}</div>
        <div class="title-release-date">{{ title.release_date | date:"longDate" }}</div>
        <div class="title-runtime">{{ title.runtime }} minutes</div>
        <div class="title-overview">{{ title.overview }}</div>
      </div>
    }
    <!-- end titles -->
  </div>
}
